<div class="pt-5 w-full col-offset-5 ">
<p-card header="Создание книги" class="flex gap-2 w-full "  >
    <div class="flex justify-items-center gap-4 flex-column " >
        <p-floatLabel>
            <input pInputText id="title" [(ngModel)]=" newTitle" />
            <label for="title">Введите название</label>
        </p-floatLabel>

        <div class="card flex justify-content-center ">
            <p-cascadeSelect 
                [(ngModel)]="selectedAuthor" 
                [options]="bookAuthors" 
                optionLabel=""
                optionGroupLabel="" 
                [optionGroupChildren]="['']" 
                [style]="{ minWidth: '14rem' }" 
                placeholder="Выберите автора" />
        </div>

        <p-floatLabel>
            <textarea 
                id="description" 
                rows="5" cols="25" 
                [(ngModel)]="description"
                [autoResize]="true"
                pInputTextarea>
            </textarea>
            <label for="description">Введите описание</label>
        </p-floatLabel>

        <p-inputNumber 
            inputId="integeronly" 
            [(ngModel)]="pages" /> 

        <div class="card flex justify-content-center">
            <p-cascadeSelect 
                [(ngModel)]="selectedLanguage" 
                [options]=" bookLanguage" 
                optionLabel=""
                optionGroupLabel="" 
                [optionGroupChildren]="['']" 
                [style]="{ minWidth: '14rem' }" 
                placeholder="Выберите язык" />
        </div>

        <p-floatLabel>
            <input pInputText id="genre" [(ngModel)]="genre" />
            <label for="genre">Введите жанр</label>
        </p-floatLabel>
    </div>
    <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
            <p-button label="сохранить" (click)="vievConsol()"/>
            <p-button label="сбросить" (click)="vievConsol()"/>
        </div>
    </ng-template>
    
</p-card>
</div>
